
BioHealthy/.vs/BioHealthy/v15/Server/sqlite3/db.lock
BioHealthy/.vs/BioHealthy/v15/Server/sqlite3/storage.ide
BioHealthy/.vs/BioHealthy/v15/Server/sqlite3/storage.ide-shm
BioHealthy/.vs/BioHealthy/v15/Server/sqlite3/storage.ide-wal
BioHealthy/BioHealthy/obj/Debug/netcoreapp2.1/BioHealthy.RazorAssemblyInfo.cache
